body {
    background-image: url('grass.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

h1{
    text-align: center;
    color: aliceblue;
    font-size: 80px;
    font-family: Chalkduster, fantasy;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
    font-size: 25px;
}
.grid-item {
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 10;
    font-size: 30px;
    font-family: Chalkduster, fantasy;
    color: aliceblue;
}

.menu {
    color:aliceblue;
    align-items: center;
}

a {
    color: aliceblue;
    align-self: center;
}

h2{
    text-align: center;
    color: aliceblue;
    font-family: Chalkduster, fantasy;
    font-size:50px;
}

#mane{
    text-align: center;
    color: aliceblue;
}

.home_team{
    color: aliceblue;
}

.team{
    color: aliceblue;
}

.match {
    color: aliceblue;
    font-size: x-large;
}

/* .tg  {border-collapse:collapse;border-spacing:10px;margin-left: auto;margin-right: auto;}
.tg td{border-color:black;border-width:1px;font-family:Chalkduster, fantasy;font-size:20px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-width:1px;font-family:Chalkduster, fantasy;font-size:20px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:center;vertical-align:top} */ */



.item1 {
    text-align: right;
    color: aliceblue;
    width : 200px;
}

#boop3{
    text-align: left;
    text-indent: 20%;
    color: aliceblue;
    width : 200px;
}

#boop{
    text-align: center;
    color: aliceblue;
    width : 200px;
}


  
  